html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('../fonts/Inter-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../fonts/Inter-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'BalsamiqSans-Regular';
  src: url('../fonts/BalsamiqSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('../fonts/KaiseiDecol-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  margin-bottom: 150px;
}

.title {
  margin-bottom: 50px;
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 36px;
}

.green-palette {
  font-family: 'BalsamiqSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.why__text,
.projects__text {
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: 'Inter-Medium', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #0c3e2e;
}

.header {
  margin-bottom: 150px;
  background-image: url('../images/header-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.menu__list {
  display: flex;
  gap: 0 30px;
}

.menu__link {
  font-size: 16px;
  text-transform: uppercase;
}

.phone {
  color: #bb8a52;
}

.header__content-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 22px;
}

.header__content-text {
  max-width: 510px;
}

.header__title {
  margin: 20px 0 80px;
  max-width: 430px;
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 48px;
}

.header__content-text--color {
  color: #cc2e2e;
}

.header__content-btn {
  display: inline-block;
  margin-top: 50px;
  padding: 20px 32px;
  font-size: 20px;
  background-color: #ffba00;
}

.header__text {
  font-size: 24px;
  text-align: center;
  padding: 25px 0;
}

.about__inner {
  display: flex;
  align-items: center;
  gap: 22px;
}

.about__inner-text {
  max-width: 506px;
  margin-bottom: 30px;
}

.about__inner-title {
  margin-bottom: 30px;
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.about__list {
  display: flex;
  gap: 0 30px;
  color: #bb8a52;
  text-align: center;
}

.about__list-term {
  margin-bottom: 5px;
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 48px;
}

.why__text {
  max-width: 583px;
  margin-bottom: 40px;
}

.why__inner {
  display: flex;
  align-items: center;
  gap: 0 22px;
}

.why__list {
  padding-left: 10px;
  list-style-type: none;
  counter-reset: why-counter;
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.why__item::before {
  content: counter(why-counter);
  counter-increment: why-counter;
  padding-right: 5px;
}

.why__item:not(:last-child) {
  margin-bottom: 55px;
}

.why__item-pl--60 {
  padding-left: 60px;
}

.why__item-pl--90 {
  padding-left: 90px;
}

.projects {
  margin-bottom: 130px;
}

.projects__text {
  max-width: 595px;
  margin-bottom: 40px;
}

.projects__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

/* .projects__gallery-title {
    text-align: center;
} */

.projects__gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.projects__gallery-item--two {
  grid-area: span 2;
}
