html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('../fonts/Inter-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../fonts/Inter-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'BalsamiqSans-Regular';
  src: url('../fonts/BalsamiqSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'KaiseiDecol-Regular';
  src: url('../fonts/KaiseiDecol-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section {
  margin-bottom: 150px;
}

.title {
  margin-bottom: 50px;
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 36px;
}

.green-palette {
  font-family: 'BalsamiqSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.text,
.contacts__text {
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.inner-decor {
  position: relative;
}

.decor {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: 'Inter-Medium', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #0c3e2e;
}

.header {
  margin-bottom: 150px;
  background-image: url('../images/header-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.menu__list {
  display: flex;
  gap: 0 30px;
}

.menu__link {
  font-size: 16px;
  text-transform: uppercase;
}

.phone {
  color: #bb8a52;
}

.header__content-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 22px;
}

.header__content-text {
  max-width: 510px;
}

.header__title {
  margin: 20px 0 80px;
  max-width: 430px;
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 48px;
}

.header__content-text--color {
  color: #cc2e2e;
}

.header__content-btn {
  display: inline-block;
  margin-top: 50px;
  padding: 20px 32px;
  font-size: 20px;
  background-color: #ffba00;
}

.header__text {
  font-size: 24px;
  text-align: center;
  padding: 25px 0;
}

/* .main {
  position: relative;
} */

.about__inner {
  display: flex;
  align-items: center;
  gap: 22px;
}

.about__decor {
  left: -213px;
  bottom: -160px;
  width: 267px;
  height: 240px;
  background-image: url('../images/decor/decor-1.svg');
}

.about__inner-text {
  max-width: 506px;
  margin-bottom: 30px;
}

.about__inner-title {
  margin-bottom: 30px;
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.about__list {
  display: flex;
  gap: 0 30px;
  color: #bb8a52;
  text-align: center;
}

.about__list-term {
  margin-bottom: 5px;
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 48px;
}

.why__decor {
  top: -343px;
  right: -194px;
  width: 464px;
  height: 552px;
  background-image: url(../images/decor/decor-2.svg);
}

.why__text {
  max-width: 583px;
  margin-bottom: 40px;
}

.why__inner {
  display: flex;
  align-items: center;
  gap: 0 22px;
}

.why__list {
  padding-left: 10px;
  list-style-type: none;
  counter-reset: why-counter;
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.why__item::before {
  content: counter(why-counter);
  counter-increment: why-counter;
  padding-right: 5px;
}

.why__item:not(:last-child) {
  margin-bottom: 55px;
}

.why__item-pl--60 {
  padding-left: 60px;
}

.why__item-pl--90 {
  padding-left: 90px;
}

.projects {
  margin-bottom: 130px;
}

.projects__text {
  max-width: 595px;
  margin-bottom: 40px;
}

.projects__gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.projects__decor {
  top: -540px;
  left: -201px;
  width: 228px;
  height: 333px;
  background-image: url('../images/decor/decor-3.svg');
}

/* .projects__gallery-title {
    text-align: center;
} */

.projects__gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.projects__gallery-item--two {
  grid-area: span 2;
}

.services {
  margin-bottom: 110px;
  padding: 20px 0 40px;
  background-color: rgba(109, 151, 115, 0.1);
}

.services__text {
  max-width: 587px;
  margin-bottom: 30px;
}

.services__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  padding: 0 25px 0;
}

.services__item-img {
  margin-bottom: 20px;
}

.services__item-text {
  font-size: 24px;
}

/* .prices__text {
  max-width: 730px;
  margin-bottom: 50px;
}

.prices__box {
  display: flex;
  gap: 22px;
}

.prices__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 60px 55px 88px;
  text-align: center;
  border: 2px solid #ffba00;
}

.prices__item-first {
  margin-bottom: 40px;
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 36px;
}

.prices__item {
  max-width: 442px;
  font-size: 24px;
  text-align: left;
}

.prices__item + .prices__item {
  margin-top: 10px;
}

.prices__item-sum {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 94px;
  padding-top: 50px;
  margin-top: auto;
  margin-bottom: 62px;
  font-family: 'Inter-Bold';
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.prices__item-sum sup {
  padding-bottom: 20px;
  font-size: 15px;
}

.prices__item-btn {
  display: block;
  padding: 20px;
  font-size: 20px;
  background-color: #ffba00;
} */
.prices__decor {
  top: -62px;
  right: -200px;
  width: 311px;
  height: 408px;
  background-image: url('../images/decor/decor-4.svg');
}

.prices__text {
  max-width: 730px;
  margin-bottom: 50px;
}

.prices-list {
  display: flex;
  gap: 22px;
}

.prices-list__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 60px 55px 88px;
  text-align: center;
  border: 2px solid #ffba00;
}

.prices-list__item-title {
  margin-bottom: 40px;
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 36px;
}

.prices-list__list {
  margin-bottom: auto;
  padding: 0 18px 0;
  font-size: 24px;
  text-align: left;
}

.prices-list__list-services + .prices-list__list-services {
  margin-top: 10px;
}

.prices-list__item-sum {
  padding-top: 60px;
  margin-bottom: 62px;
  font-family: 'Inter-Bold';
  font-weight: 700;
  font-size: 36px;
}

.prices-list__item-btn {
  display: block;
  padding: 20px;
  font-size: 20px;
  background-color: #ffba00;
}

.work__decor {
  top: -194px;
  right: -200px;
  width: 456px;
  height: 658px;
  background-image: url('../images/decor/decor-5.svg');
}

.work__list {
  display: flex;
  justify-content: center;
  gap: 0 15px;
  flex-wrap: wrap;
  max-width: 1060px;
  list-style-type: none;
  counter-reset: work-counter;
}

.work__item {
  position: relative;
  padding-left: 64px;
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 185px;
}

.work__item::before {
  position: absolute;
  left: 0;
  content: counter(work-counter, decimal-leading-zero);
  counter-increment: work-counter;
  font-family: 'KaiseiDecol-Regular', sans-serif;
  font-weight: 400;
  font-size: 128px;
  line-height: 1.45;
  letter-spacing: -0.06em;
  color: rgba(109, 151, 115, 0.2);
}

.team__text {
  margin-bottom: 50px;
  max-width: 730px;
}

.team__list {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.team__item {
  width: 200px;
}

.team__item-img {
  margin-bottom: 10px;
}

.team__item-name {
  margin-bottom: 15px;
  text-align: center;
}

.questions {
  margin-bottom: 110px;
}

.questions__decor {
  top: 204px;
  left: -218px;
  width: 400px;
  height: 499px;
  background-image: url('../images/decor/decor-6.svg');
}

.accordeon {
  column-count: 2;
  gap: 0 22px;
}

.accordeon__item {
  margin-bottom: 40px;
}

.accordeon__title {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  padding-right: 70px;
  font-family: 'Inter-Medium', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: left;
  color: #0c3e2e;
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.accordeon__title::after {
  content: '';
  position: absolute;
  top: 3;
  right: 40px;
  width: 16px;
  height: 26px;
  background-image: url('../images/icon-arrow-down.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.accordeon__text {
  display: none;
}

.contact-form__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 22px;
}

.contact-form__text {
  margin-bottom: 15px;
}

.form__text {
  margin-bottom: 15px;
}

.form__input {
  display: inline-block;
  width: 100%;
  max-width: 520px;
  margin-bottom: 10px;
  margin-left: 28px;
  padding: 5px 10px;
  font-family: 'Inter-Medium', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: #0c3e2e;
  border: none;
  border-bottom: 1px solid #0c3e2e;
}

.form__input::placeholder {
  font-family: 'Inter-Medium', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: #d9d9d9;
}

.form__btn {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 41px;
  font-family: 'Inter-Medium', sans-serif;
  font-weight: 500;
  font-size: 20px;
  background-color: #ffba00;
  border: none;
  cursor: pointer;
}

.form__link {
  display: flex;
  align-items: center;
  gap: 35px;
}

.form__link-text {
  font-size: 24px;
  line-height: 1;
  border-bottom: 1px solid #0c3e2e;
}

.contact-form__images {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
}

.contact-form__img {
  border-radius: 40px;
}

.contact-form__img--mod {
  grid-column: 1/-1;
}

.reviews__decor {
  left: -200px;
  bottom: -376px;
  width: 354px;
  height: 553px;
  background-image: url('../images/decor/decor-7.svg');
}

.reviews__item {
  font-size: 24px;
}

.reviews__item-name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.reviews__item-photo {
  margin-right: 20px;
  border-radius: 50%;
}

.reviews__slider {
  padding-bottom: 55px;
}

.reviews__item-arrow {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.reviews__item-next {
  right: 50%;
  transform: translateX(65px);
}

.reviews__item-prev {
  left: 50%;
  transform: translateX(-65px);
}

.contacts__inner {
  display: flex;
  gap: 22px;
}

.contacts__decor {
  right: -209px;
  bottom: -150px;
  width: 318px;
  height: 514px;
  background-image: url('../images/decor/decor-8.svg');
}

.contacts__text {
  margin-bottom: 70px;
}

.contacts__info {
  font-size: 20px;
}

.contacts__info dt {
  margin-top: 20px;
}

.footer {
  padding: 40px 0 47px;
  background-color: rgba(109, 151, 115, 0.1);
}

.footer__inner {
  display: flex;
  gap: 0 22px;
}

.footer__left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px 0;
}

.footer__menu {
  font-size: 16px;
  text-transform: uppercase;
}

.footer__menu-item + .footer__menu-item {
  margin-top: 20px;
}

.social__list {
  display: flex;
  gap: 0 20px;
  font-size: 0;
}

.footer__right {
  width: 100%;
  padding-left: 30px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 42px;
}

.footer__text {
  max-width: 321px;
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 36px;
}
